@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/*CSS BODY*/
* {
    margin: 0%;
    padding: 0%;
    font-family: Itim;
    font-size: 20px;

}

body {
    background-image: url(../multimedia/img/mifondo.png);
    overflow: auto;
}


/* GRID CONTACTO */
#grilla {
    display: grid;
    grid-template-areas:
        "form"
        "newsletter"
        "footer";
    grid-template-rows: 650px 100px 30px;
}


section#form {
    grid-area: form;
}

section#newsletter {
    grid-area: newsletter;
}

footer {
    grid-area: footer;
}


#footer a {
    margin-left: -20%;
    font-size: large;
}

#footer h4 {
    font-size: larger;
    margin-left: -20%;

}

/* MEDIA 480PX */

@media screen and (min-width:480px) and (max-width:960px) {

    #grilla {
        display: grid;
        grid-template-areas:
            "form"
            "newsletter"
            "footer";
        grid-template-rows: 640px 60px 30px;
    }

    #newsletter h2 {
        color: rgb(235, 140, 92);
    }

    #form h2 {
        color: rgb(242, 93, 18);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #footer {
        background-color: rgb(250, 196, 170);
    }
}

/* MEDIA 961PX */
@media screen and (min-width:961px) {

    #grilla {
        display: grid;
        grid-template-areas:
            "form"
            "newsletter"
            "footer";
        grid-template-rows: 640px 60px 30px;
    }

}


/* LOGO */
.logo {
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
    margin-top: -30px;
}



/* NAVEGADOR */

.puntos {
    list-style-type: none;
}

.navbarra {
    margin-left: 30%;
}

/* SECTION */

.centrar {
    text-align: justify;
}

.iframe {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.espacioSuperior {
    margin-top: 40px;
}

.masEspacio {
    margin-top: 80px;
}

main section div p {
    margin-left: 15%;
    margin-right: 15%;
}

.fotosFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tamañoImgIndex {
    margin: 1px 30px 30px 30px;
    height: 300px;
    width: 200px;
}

.tamañoImagen {
    height: 220px;
    width: 170px;
    margin: 10px 20px 20px 20px;
    display: inline;
}

.modalStyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.modalBoton{
    margin-top: -20px;
    margin-left: 22px;
}

#texto {
    display: block;
    text-align: center;
}

h1 {
    color: rgb(37, 100, 118);
    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(92, 138, 151);
    text-align: center;
    font-size: 25px;
}

h3 {
    margin-top: -20px;
    margin-left: -33px;
    text-align: center;
    font-size: 22px;
}


form {
    text-align: center;
}


.dropdown-item:active{
    background-color: rgb(245, 148, 113);
}

div section iframe {
    margin: 1px 1px 80px 80px;
}

.logoWhap {
    position: fixed;
    width: 45px;
    height: 45px;
    left: 92%;
    top: 90%;
}

.medidasForm {
    width: 50%;
    margin-left: 25%;
}




/* FOOTER */
footer {
    background-color: rgb(244, 205, 179);
    height: 150px;
    width: auto;
}

.redes {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerFlex2 {
    display: flex;
    flex-direction: row;
    margin-left: -35px;
}

.menosMarginL {
    margin-left: -35px;
    margin-top: -7px;
}

footer ul li h4 {
    margin-top: 30px;
}